<div class="d-flex justify-content-center mb-5">
  <input
    class="form-control w-50 mx-4 border-dark"
    type="text"
    [(ngModel)]="newPokemonModel"
    (keyup.enter)="this.pokemonAdd(newPokemonModel)"
  />
  <button
    class="btn btn-warning text-light mx-4"
    (click)="this.onPokemonAddBtnClick()"
  >
    Submit
  </button>
</div>

<app-my-pokemon
  *ngFor="let pokemon of this.pokemonService.listPokemon; let index = index"
  [name]="pokemon.name"
  [gender]="pokemon.gender"
  (deletePokemon)="this.pokemonService.deletePokemonTab(index)"
></app-my-pokemon>

<app-pokemon-pop-up
  [pokemon]="lastPokemonAdd"
  [pokemonExist]="pekemonExistName"
></app-pokemon-pop-up>
