<div class="d-flex justify-content-center mb-5">
  <input
    class="form-control w-50 mx-4 border-dark"
    type="text"
    [(ngModel)]="newPokemonModel"
    (keyup.enter)="addPokemon()"
  />
  <button class="btn btn-warning text-light mx-4" (click)="addPokemon()">
    Submit
  </button>
</div>

<div
  *ngFor="let pokemon of listPokemon; index as i"
  class="text-light p-3 mb-3 w-50 mx-auto rounded pk-{{
    pokemon.gender
  }} d-flex justify-content-between align-items-center"
>
  {{ pokemon.name }} - {{ pokemon.gender }}
  <button type="button" class="btn btn-danger" (click)="deletePokemonTab(i)">
    Supp
  </button>
</div>
<app-pokemon-pop-up
  [pokemon]="lastPokemonAdd"
  [pokemonExist]="pekemonExistName"
></app-pokemon-pop-up>
