<div class="d-flex justify-content-center mb-5">
  <input
    class="form-control w-50 mx-4 border-dark"
    type="text"
    [(ngModel)]="newPokemonModel"
    (keyup.enter)="addPokemon()"
  />
  <button class="btn btn-warning text-light mx-4" (click)="addPokemon()">
    Submit
  </button>
</div>

<!-- <app-pokemon-item
  *ngFor="let pokemon of listPokemon; let index = index"
  [pokemon]="pokemon"
  (deletePokemon)="deletePokemonTab(index)"
></app-pokemon-item> -->

<app-my-pokemon></app-my-pokemon>
<app-my-pokemon></app-my-pokemon>
<app-my-pokemon></app-my-pokemon>
<app-my-pokemon></app-my-pokemon>
<app-my-pokemon></app-my-pokemon>
<app-my-pokemon></app-my-pokemon>
<app-my-pokemon></app-my-pokemon>
<app-my-pokemon></app-my-pokemon>

<app-pokemon-pop-up
  [pokemon]="lastPokemonAdd"
  [pokemonExist]="pekemonExistName"
></app-pokemon-pop-up>
